<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/javascript/addUser.js"></script>
  <script src="/javascript/removeUser.js"></script>
  <script src="/javascript/addAdmin.js"></script>

  <link rel="stylesheet" type="text/css" href="/stylesheets/db.css" />
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<table id="usersTable">
  <thead>
    <th> Navn </th>
    <th> Email</th>
  </thead>
  <tbody>
    <% results.forEach(function(row) { %>
       <tr><td> <%= row.name %></td><td><%=row.email%> </td>
       <td><a href="#" id=<%=row.id%> class="removeUserLink"> </a></td></tr>
    <% }); %>
    </tbody>
</table>
<h2> Tilføj nyt medlem</h2>
<input id="user-name" type="text"/>
<input id="user-email" type="text"/>
<input id="new-user-submit" type="submit"/>
<div id="output"></div>

<h2> Tilføj admin </h2>
<input id="admin-name" placeholder="Admin navn" type="text"/>
<input type="text" placeholder="admin email" id="admin-email" />
<input type="password" placeholder="skiv dit password her"id="admin-password" />
<br />
<input type="submit" id="admin-submit" value="tilføj admin"/>

<br /><br />
<a href="/login/logout">log ud</a>
</div>
</body>
</html>
