<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/javascript/addUser.js"></script>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %></li>
    <% }); %>
</ul>
<h2> Tilføj nyt medlem</h2>
<input id="user-name" type="text"/>
<input id="user-email" type="text"/>
<input id="new-user-submit" type="submit"/>
<div id="output"/>
</div>

</body>
</html>
