<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body>

  <% include ../partials/nav.ejs %>

  <h2> Variable </h2>
  <p><%= title%></p>
  <form method="POST" id="loginForm" action="/login">
    <input type="text" id="email" name="email" placeholder="Skriv din email her" />
    <input type="password" id="password" name="password" />
    <input type="submit" id="admin-login" value="login"/>
  </form>
  
</div>


</body>
</html>
