<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
    <script src="/javascript/loginAdmin.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

   <h2> Variable </h2>
   <p><%= title%></p>
   
<input type="text" id="login-email" placeholder="Skriv din email her" />
<input type="password" id="login-password" />
<input type="submit" id="admin-login" value="login"/>


</div>


</body>
</html>
