<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/javascript/addTeam.js"></script>
  <script src="/javascript/removeUser.js"></script>
  <script src="/javascript/addAdmin.js"></script>
  <script src="/javascript/updateTableRow.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/db.css" />
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
  <h2> Team <%=teamName[0].teamname+" "+teamName[0].year %> </h2>
  <table id="teamsTbl">
    <thead>
    <th>Navn</th>
    <th>År</th>
    </thead>
    <tbody>
      <% results.forEach(function (row) { %>
        <tr id=<%=row.id%>>
          <td><%=row.name%></td>
          <td><%=row.email%></td>
        </tr>
     <% });%>
    </tbody>
  </table>
</div>
</body>
</html>
