<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/javascript/addTeam.js"></script>
  <script src="/javascript/removeUser.js"></script>
  <script src="/javascript/addAdmin.js"></script>
  <script src="/javascript/updateTableRow.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/db.css" />
</head>

<body>

<% include ../partials/nav.ejs %>
<% function notNull(data){
if (data !== null) {
return data;
} else {
return "n/a";
}     
} %>
<div class="container">
  <p><%=user.name%></p>
    <h2> Opgaver </h2>
  <table id="teamsTbl">
    <thead>
    <th>Navn</th>
    <th> progress </th>
    </thead>
    <tbody>
      <% for (i=0; i<tasks.length; i+=1) { %>
        <tr id=<%=tasks[i].task_id%>>
          <td><%= tasks[i].task_id +". "+tasks[i].task_name%></td>
          <td><%= notNull(progress[i].dato) + " "+notNull(progress[i].rating)%></td>
        </tr>
     <% };%>
    </tbody>
  </table>
</div>
</body>
</html>
